<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @director.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @director.dob.strftime("%A, %B %-d, %Y") %>
</p>

<h3>Movies</h3>
<%@director.movies.each do |movie|%>
<ul>
	<li> <%= link_to movie.name, movie%></li>
	</ul>
<%end%>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
