<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @director.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @director.dob %>
</p>

<br/>
<h3>Movies</h3>
<p>
<ul>
	<% @director.movies.each do |movie| %>
	<li><%= movie.name %></li>
	<% end %>
</ul>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
