<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @director.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @director.dob.strftime("%A, %B %-d, %Y") %>
</p>

<h3>Movies</h3>
<%@director.movies.each do |movie|%>
<ul>
	<li> <%= link_to movie.name, movie%></li>
	</ul>
<%end%>


<%= form_for(@director.movies.create) do |f| %>
<div class="field">
    <%= f.label :Add_movie %>
    <%=collection_select(:movie, :director_id, Movie.all, :id, :name, prompt: true)%>
  </div>
   <div class="actions">
    <%= f.submit %>
        <%end%>
  </div>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
