<div class="first"><h1>Directors Index</h1></div>
<div class="second"><h1><%= link_to "See Movies Index", movies_path %></h1></div>


<div class="directors">
<% @directors.each do |director| %>
	<div class="director_info">
	<h3> <%= director.name%> </h3>
	<%= director.description %>
	<%= link_to director.name, director %>
	<%= director.birthday %>
	<%= link_to "edit director", edit_director_path(director) %>
	<%= link_to "destroy director", director, method: :delete, data:{confirm: "are you sure?"} %>
	</div>
	<div class="director_picture"> 
	<%= image_tag director.image_url, width: '100' %>
	</div>
<% end %>
	</div>


<div> <%= link_to "new director", new_director_path %> </div>