<h1>Director</h1>
<div class="director">
	<div> <%=@director.name %></div>
	<div> <%=@director.description %></div>
	<div> <%=@director.birthday%></div>
</div>
<ul>
	<% @director.movie.each do |movie| %>
	<li><%= link_to movie.name %></li>
	<% end %>
</ul>
<%= link_to "back", directors_path %>