<h1>Director</h1>
<div class="director">
	<div> <%=@director.name %></div>
	<div> <%=@director.release_date %></div>
	<div> <%=@director.rating%></div>
	<div> <%=@director.description %></div>
	<div> <%=@director.length %></div>
</div>
<%= link_to "back", director_path %>