<h1>Movie</h1>
<div class="movie">
	<div class="movie_picture"> <%= image_tag @movie.image_url, width: '200' %></div>
	<div> <%=@movie.name %></div>
	<div> <%=@movie.release_date %></div>
	<div> <%=@movie.rating%></div>
	<div> <%=@movie.description %></div>
	<div> <%=@movie.length %></div>
</div>
<%= link_to "back", movies_path %>