<p id="notice"><%= notice %></p>

<p>
  <strong>Nam:</strong>
  <%= @director.nam %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @director.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @director.death_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @director.location %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @director.bio %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
