
<h1><%= @house.name %></h1>

<dl>
	<dt>Colors: </dt>
	<dd><%= @house.colors %></dd>

	<dt>Points: </dt>
	<dd><%= @house.points %></dd>

	<dt>Location: </dt>
	<dd><%= @house.location %></dd>

	<dt>Slogan: </dt>
	<dd><%= @house.slogan %></dd>
</dl>



<h3>Students</h3>
<ul>
	<li>Student 1</li>
	<li>Student 2</li>
</ul>


