<p id="notice"><%= notice %></p>

<p>
  <strong>D name:</strong>
  <%= @director.d_name %>
</p>

<p>
  <strong>D description:</strong>
  <%= @director.d_description.truncate(20) %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @director.dob %>
</p>

<li><% @director.movies.each do |movie| %> 
	<%= link_to movie.name, movie %> 
	<% end %> 
	</li>
</ul>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
